language: php

## Run on container environment
sudo: false
dist: trusty

php:
  - 5.6
  - 7.0
  - 7.1
  - nightly
  - hhvm


matrix:
  allow_failures:
    - php: [nightly, hhvm]

before_install:
  - composer self-update
  - composer global require hirak/prestissimo 0.3.4

install:
  - composer install --dev --prefer-dist --no-autoloader  --no-scripts
  - composer dump-autoload -o -a --no-scripts

script: ./vendor/bin/phpunit --coverage-clover=coverage.clover

after_script:
  - wget https://scrutinizer-ci.com/ocular.phar
  - php ocular.phar code-coverage:upload --format=php-clover coverage.clover

cache:
  directories:
    - vendor
    - $HOME/.composer/cache
